# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Secrets
*.pem
*.key
**/certs/
*.gpg
*vault

# data
**/data/

# Environment
*.conf
*.env
*.ini
*.venv

# MacOS
.DS_Store
desktop.ini

# Matomo
**/config/
**/logs/

# Backups 
*.bak

# Apps
apps/mailcow/mailcow-dockerized*
apps/mattermost/docker*
apps/umami/umami*
apps/wazuh/wazuh-docker*
apps/erpNext/frappe_docker*
apps/mattermost/docker*

# Logs and output
*.log
*.out

# Other 
*.deb
*.rpm