# persephone-vault.yml.template
aws_access_key_id: 
aws_secret_access_key: 
restic_password_file: /root/.restic-password
restic_repository_file: /root/.restic-repo
restic_url: 
restic_tag: "{{ inventory_hostname }}-{{ lookup('pipe', 'date +%Y-%m-%d_%H-%M-%S') }}"
backup_dirs:
  - /root
  - /home
  - /var
  - /etc
  - /srv
  - /usr
  - /opt
