# /etc/systemd/system/vault-stack.service
[Unit]
Description=Vault + Agent + Nginx Stack
Requires=container.service
After=container.service

[Service]
WorkingDirectory=/opt/eos/compose/vault
ExecStart=/usr/bin/docker-compose -f docker-compose.production.yaml up -d
ExecStop=/usr/bin/docker-compose -f docker-compose.production.yaml down
Restart=always
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
